body {
    font-family: Arial, sans-serif;
}


h2 {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

hr {
    margin: 0;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}


label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #dedddd;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #3d3d3d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #616161;
}

.record {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.my-box {
    border: 1px solid;
    padding: 10px;
    float: center;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }
  

